html{
    overflow: hidden;
} 
@-webkit-keyframes hatter {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes hatter {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes hatter {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
body{
    background: linear-gradient(270deg, #00043a, #2d9dc5);
    background-size: 400% 400%;

    -webkit-animation: hatter 30s ease infinite;
    -moz-animation: hatter 30s ease infinite;
    animation: hatter 30s ease infinite;
}
input[type=password]{
    padding: 0.5vw;
    font-family: Open Sans;
    font-size: 90%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    outline: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 0.5em;
}
input[type=password]::placeholder{
    color: white;
}
.jelszovaltoztatas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    padding: 1vw;
    border-radius: 1vw;
}
.oke_gomb{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #37b057;
    background-color: #37b057;
    font-family: Open Sans;
    font-size: 90%;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5em;
}
.oke_gomb:hover{
    background-color: #288240;
    border: 1px solid #288240;
    cursor: pointer;
}
.hiba{
    padding: 0.5em;
    animation-name: hibaani;
    animation-duration: 7s;
    animation-fill-mode: both;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background-color: #871b1b; 
    color: white;
    font-family: Open Sans;
    font-size: 1em;
    border-radius: 0.5em;
}
.ertesites_container{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    visibility: visible;
    opacity: 1;
    width: 25%;
    padding-top: 0.5em;
}
@keyframes hibaani{
    0%{opacity: 0; visibility: visible;}
    10%{opacity: 1; visibility: visible;}
    90%{opacity: 1; visibility: visible;}
    100%{opacity: 0; visibility: hidden;}	
}