body
{
	
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15%;
    text-align: center;
    font-family: "Lemonada", cursive;
    font-size: 3vw;
    padding-top: 20px;
	font-family: "Lexend", sans-serif !important;
	/* padding-bottom: 5vw; */ 
    /* border: 1px solid black;
	background-color: #8EBFE2;
    box-shadow: rgba(255, 255, 255, 0.932) 0px 5px 15px;
    border-radius: 10px; */
    
}
/* .vonal
{
    margin-top: 5%;
    background-color:black;
    width: 100%;
} */
.kajakeszulgif{
	border-radius: 100%;
	width:20%;
}
#statustext
{
	font-size: 15px;
}
.renszam{
	color: chocolate;
    width: 20%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 3%;

}
.rendelespipa{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.dzsiffff{
    width: 50%;
	margin-bottom: 20px;
}
/*felkapottak*/
.felkapottak
{
    font-size:20px;
}
.betoltokepernyo{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #3a3e94;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1050;
}
@keyframes betoltve{
	0%{opacity: 1; visibility: visible;left: 50%; top: 50%; transform: translate(-50%, -50%);}
	100%{opacity: 0; visibility: hidden;left: 50%; top: -50%; transform: translate(-50%, -50%);}
}
@keyframes megjelen{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
#betoltokep, #betoltoikon{
	animation-name: megjelen;
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}


#FelkapottContainer{
    margin-bottom:130px;
}

@keyframes kosarbateve{
	0%{background-color: white;}
	50%{background-color: #deffe7;}
	100%{background-color: white;}
}

.hiba{
    padding: 0.5em;
    opacity: 1;
    width: 100%;
    background-color: #ffabab; 
	border: 1px solid red;
    color: #590909;
    font-family: Open Sans;
    font-size: 1em;
    border-radius: 0.5em;
	visibility: visible;
}
.ertesites_container{
    position: fixed;
    bottom: 0%;
    right: 0%;
    transform: translate(-0%, 0%);
    visibility: hidden;
    opacity: 0;
    width: 25%;
    padding-bottom: 1.5em;
	padding-right: 2.5em;
	z-index: 999;
}
@media only screen and (max-width: 992px) {
	.kajakeszulgif{
		border-radius: 100%;
		opacity: 80%;
		width:90%;
	}
	.dzsiffff{
		width: 100%;
	}


	.card{
		width: 100%;
	}
	.card-img-top{
		float: left;
		width: 25vw;
		vertical-align: middle;
	}
	.termek-cim-container{
		float: left;
		display: flex;
  flex-direction: column;
  min-height: 100%;
  vertical-align: middle;
	}	
	.termek-cim{
		position: absolute;
		top: 10%;
		vertical-align: middle;
		transform: translate(-0%, -10%);
		padding-left: 1em;
		padding-bottom: 1em;
	}
	.termek-ar-container{
		float: left;
		display: flex;
  flex-direction: column;
  min-height: 100%;
  vertical-align: middle;
	}	
	.termek-mennyiseg-container{
		float: left;
		display: flex;
  flex-direction: column;
  min-height: 100%;
  vertical-align: middle;
	}
	.termek-ar{
		float: left;
		vertical-align: middle;
		position: absolute;
		top: 20%;
		transform: translate(-0%, -20%);
		padding-left: 1em;
		padding-top: 1em;
	}
	.termek-mennyiseg{
		float: left;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		transform: translate(-0%, -50%);
		padding-left: 1em;
		padding-top: 1em;
		touch-action: manipulation;
	}
	.kosar-gomb-container{
		float: left;
		display: flex;
  flex-direction: column;
  min-height: 100%;
  vertical-align: middle;
	}
	.kosar-gomb{
		float: left;
		vertical-align: middle;
		position: absolute;
		top: 90%;
		transform: translate(-0%, -90%);
		padding-left: 1em;
		padding-top: 1em;
	}
	.kartyatartalom{
	padding: 0.5em;
}
	.mennyisegszam{
		width: 4ch;
		color: black;
	}
	.ertesites_container{
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        visibility: hidden;
        opacity: 1;
        width: 75%;
        padding-top: 1em;
		padding-bottom: 0em;
		padding-right: 0em;
    }
    .hiba{
        padding: 0.5em;
        animation-name: hibaani;
        animation-duration: 4s;
        animation-fill-mode: both;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        background-color: #ffabab; 
		border: 1px solid red;
		color: #590909;
        font-family: Open Sans;
        font-size: 1em;
        border-radius: 0.5em;
    }
	
}