html{
    overflow: hidden;
}
.bejelentkezes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    text-align: center;

}
.kep{
    text-align: center;
}
#logo{
    width: 80%;
}
.bejelentkezes_al{
    padding: 1vw;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 1vw;
    opacity: 1;
    visibility: visible;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
}


@keyframes eltunik{
    0%{opacity: 1; visibility: visible;}
    100%{opacity: 0; visibility: hidden;}
}
@keyframes megjelen{
    0%{opacity: 0; visibility: visible;}
    100%{opacity: 1; visibility: visible;}
}

 @-webkit-keyframes hatter {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes hatter {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes hatter {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
body{
    background: linear-gradient(270deg, #00043a, #2d9dc5);
    background-size: 400% 400%;

    -webkit-animation: hatter 30s ease infinite;
    -moz-animation: hatter 30s ease infinite;
    animation: hatter 30s ease infinite;
    margin: 1;
}

@media only screen and (max-width: 1000px) {
	.bejelentkezes{
		font-size: 3em;
		width: 60%;
		font-family: Open Sans;
	}
}
