





@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 150px;
	height: 150px;


	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);

	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.content {

	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}



@keyframes myAnim {
	0% {
		

	}

	100% {
		

	}
}